# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore npm debug files
npm-debug.log*

# Ignore environment variables file
.env

# Ignore VSCode settings
.vscode/

# Ignore macOS-specific files
.DS_Store

# Ignore package-lock.json (optional)
package-lock.json

# Ignore any build or dist folder
dist/
build/
